@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
  --bg: #13141B;
  --salmon: #FF99B6;
  --perrywinkle: #C485FF;
}

body {
  background-color: var(--bg);
}

html, body, div {
  margin: 0;
  width: 100%;
  height: 100%;
}

div {
  position: fixed;
}

span {
  margin: 0 10px 0 10px;
  font-family: Hero;
}

#p {
  color: var(--perrywinkle);
}

#o {
  color: var(--salmon);
}

#l {
  color: var(--perrywinkle);
}

#k {
  color: var(--salmon);
}

#a {
  color: var(--perrywinkle);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu h1 {
  font-size: 130px;
  font-weight: bold;
}

#menu button {
  width: 700px;
  font-size: 80px;
  border: none;
  border-radius: 100px;
  padding: 40px;
  margin: 30px;
}

#play {
  background-color: var(--perrywinkle);
}

#setting {
  background-color: var(--salmon);
}
