@font-face {
  font-family: 'Hero';
  src: url('fonts/Hero-Regular.ttf');
  font-weight: 100;
}

:root {
  --bg: #13141B;
  --reset: #33343b;
  --salmon: #FF99B6;
  --perrywinkle: #C485FF;
}

body {
  background-color: var(--bg);
}

html, body, div {
  margin: 0;
  width: 100%;
  height: 100%;
}

div {
  position: fixed;
}

h1 span {
  margin: 0 10px 0 10px;
  font-family: Hero;
}

#p {
  color: var(--perrywinkle);
}

#o {
  color: var(--salmon);
}

#l {
  color: var(--perrywinkle);
}

#k {
  color: var(--salmon);
}

#a {
  color: var(--perrywinkle);
}


#menu div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu h1 {
  position: fixed;
  font-size: 170px;
  margin-top: 575px;
  //margin-bottom: 50px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

#menu button {
  width: 700px;
  font-size: 80px;
  border: none;
  border-radius: 50px;
  padding: 40px;
  transform: scale(0.75);
  font-family: Hero;
}

#menu button:hover {
  cursor: pointer;
  transform: scale(0.8);
}

button#play {
  margin-bottom: 20px;
}

button#setting {
  //margin-top: 30px;
}

#play {
  background-color: var(--perrywinkle);
  color: var(--bg);
  font-weight: bold;
}

#setting {
  background-color: var(--salmon);
  color: var(--bg);
  font-weight: bold;
}

button span {
  margin: 0 3px 0 3px;
}

#game {
  width: 100%;
  height: 100%;
}

#box_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 900px;
  height: 900px;
}

#average {
  position: fixed;
  margin-top: 100px;
  margin-left: 50%;
  font-size: 100px;
  font-family: Hero;
  transform: translate(-50%, 0);
  color: white;
}

#current {
  position: fixed;
  margin-top: 200px;
  margin-left: 50%;
  font-size: 50px;
  font-family: Hero;
  transform: translate(-50%, 0);
  color: grey;
}

#reset {
  position: fixed;
  margin-top: 100px;
  margin-left: 75%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 75px;
  font-size: 100px;
  font-family: Hero;
  text-align: center;
  color: var(--bg);
  background-color: var(--reset);
}

#reset:hover {
  cursor: pointer;
}
